<a href="https://colab.research.google.com/github/gkw314/oz_assignment/blob/main/chapter05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##사칙연산

더하기 : +

빼기   : -

곱하기 : *

나누기
* /  : 우리가 알고 있는 나누기와 동일 (예: 5 / 2 = 2.5)
* // : 몫을 반환(5/2 = 2)
* %  : 나머지 반환 (5%2=1)

거듭제곱 : **

내장함수 : divmod
내장 함수란?

자주사용 하는 기능을 미리 만들어 놓은것을 내장함수라고 함

파이썬에는 다양한 내장함수가 존재하며, 내장함수는 파이썬이 입문자에게 가장 좋은 언어로 각광받는 요인 중 하나에 해당한다.

divmod(3, 2) : 몫과 나머지를 동시에 구해줌

In [ ]:
divmod(3, 2)

(1, 1)

괄호 ( ) 수학에서 사용되는 괄호와 동일한 기능

( ) : 괄호안에 있는 것을 먼저 계산

사칙연산 순서 : 괄호 -> 곱셉, 나눗셈 -> 덧셈, 뺄셈

In [ ]:
# 아아 : 5000원 / 아샷추 : 6500원
# 아아 2잔 / 아샷추 3잔

(5000 * 2) + (6500 * 3)

29500

In [ ]:
# 어제 아아 2잔이랑 아샷추 3잔 결제한 금액이 얼마였지?
(5000 * 2) + (6500 * 3)

29500

In [ ]:
# 미안한데 그때 아아 2잔이랑 아샷추 3잔 결제한 금액이 얼마였지?
(5000 * 2) + (6500 * 3)

29500

### 변수란? ( 기본중에 기본, 근본중에 근본, 코어중에 코어..... )


하나의 변수에 하나의 값을 넣을때

: 변수이름 = 값

두개의 변수에 하나의 값을 각각 넣을때

: 변수이름1, 변수이름2 = 값1, 값2

In [ ]:
# 하나의 값을 변수에 넣을 때
num = 1
#print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보겠습니다.
단, 다음 숫자를 더하기 위해서 매번 새로운 줄에서 시작해야하는 조건이 있습니다.

In [ ]:
# 변수를 사용하지 않을 때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [ ]:
# 변수를 사용할 때
#이전에 계산된 결과를 저장해서 사용할 수 있음

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

### 변수에 값을 넣는 것 => 할당

sum = 1 + 2는 1+2의 계산된 결과를 sum이라는 변수에 할당한다고 설명할 수 있습니다.
sum 변수명이고 "=" 같다는 의미가 아니라 할당(assignment)이라고 합니다.  

- "=" : 할당 연산자  
- "+" : 산술 연사자  

+= 산술 후 바로 할당하는 문법  
/=, -=, *= 모두 가능합니다.

In [ ]:
# 변수를 사용하면서 사용 가능한 문법

sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [ ]:
# 주의 !! 선언되지 않은 변수를 사용할 경우 에러 발생

sum3 = 0
sum3 += 1

sum3

1

In [ ]:
# 변수에 어떤값도 넣고 싶지 않고 선언하는 방법

nothing = None
print(None)

None

- 변수를 만드는 규칙

    - 영문 문자와 숫자를 사용할 수 있습니다.  
    - 대소문자를 구분합니다.  
    - 첫글자는 대문자로 쓰는걸 지향합니다.  
    - 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.  
    - _(밑줄 문자)로 시작할 수 있습니다.  
    - 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.  
    - 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [ ]:
#대소문자를 구분하는 변수
BIG = "크다"
big = "작다"

print(BIG, big)

크다 작다

스네이크케이스(snake case)  
변수명 : snake_case

카멜케이스(camel case)
변수명 : camelCase

In [ ]:
# 우리는 변수를 만들때 스네이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요
# 개발에 관련된 여러 조건을 명시하는 것들을 코드 컨벤션이라고 합니다.

box__shose = "스니커즈"
box__hat = "슈프림 모자"

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [ ]:
#print() 포메팅 3가지 f-string  : print(f' {변수명} ')

me = "파머"
print(f'{me}만 빼고 고양이 다 있어')

파머만 빼고 고양이 다 있어

In [ ]:
# 붕어빵 철이 돌아왔죠
# 붕어빵(팥) : 2000원, 붕어빵(슈크림) : 2500원, 붕어빵(잡채) : 3000원
# 무인 주문기계를 만들어주세요
# 붕어빵(잡채) 3개, 붕어빵(슈크림) 2개를 주문하면
# "주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 5개 결제 금액은 14000원 입니다."
# 이 출력되도록 코드를 작성해주세요
# 변수를 만들때 스네이크 케이스에 언더바는 2개 / print()문의 포메팅 f-string

In [2]:
#변수값 입력
fish__p , fish__s , fish__j = "붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
fish__p__value , fish__s__value , fish__j_value = 2000, 2500, 3000
order_s, order_j = 2, 3

# 붕어빵 계산값
order_s__pay, order_j__pay = fish__s__value * 2, fish__j_value *3

# 구매 총 개수
total_order = order_s + order_j

# 구매 총 금액
total_pay = order_s__pay + order_j__pay

#출력
print(f'주문이 완료되었습니다. {fish__s} {order_s}개, {fish__j}개 {order_j} 총 {total_order}개 결제 금액은 {total_pay}원 입니다.')

주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채)개 3 총 5개 결제 금액은 14000원 입니다.