<a href="https://colab.research.google.com/github/gkw314/oz_assignment/blob/main/Ch05_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

<span style="font-size:80%">[문제1]<br><br></span>
```Python으로 변수를 생성하는 방법으로 올바른 것을 고르세요```

1. number == 20
2. 100 == number
3. number(7)
4. number = 7

<span style="color:red">답변</span>

4번.

----

<span style="font-size:80%">[문제2]<br><br></span>
```다음 중 올바르지 않은 것을 골라주세요```

이름 = "김오즈"<br>
나이 = 14<br>
소속 = "마법중"<br>
등급 = 3<br>

1. 이름 + 소속
2. 나이 + 등급
3. 소속 + 등급

<span style="color:red">답변</span>

3번

In [4]:
이름 = "김오즈"
나이 = 14
소속 = "마법중"
등급 = 3

print(이름 + 소속)
print(나이 + 등급)
print(소속 + 등급)

김오즈마법중
17

TypeError: can only concatenate str (not "int") to str

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 변수의 type으로 올바른것을 골라주세요```

퀴즈 = "스페인에서 카리나를 보고 하는 말은?"<br>
type(퀴즈)

<span style="color:red">답변</span>

str

----

<span style="font-size:80%">[문제4]<br><br></span>
```다음 중 변수 이름으로 사용할 수 없는 것을 모두 골라주세요```

1. 78abc
2. ABC
3. _ABC
4. _hello%2
5. for

<span style="color:red">답변</span>

1번, 4번, 5번

----

<span style="font-size:80%">[문제5]<br><br></span>
```다음 중 변수와 연산자의 사용 방법으로 올바르지 않은 것을 모두 골라주세요```

x = 3
y = 7

1. x = x + y
2. x // 2
3. z >< x
4. y += x
5. ++x

<span style="color:red">답변</span>

3번, 5번